rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/current {
      // Allow anyone to read the game state. 
      allow read, write: if true;
      
      match /claims/{claimId} {
        allow read, write: if true;
      }

      match /players/{playerId} {
        allow read, write: if true;
      }
    }
  }
}
